body{
    margin: 0;
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Temporal */
.div-work{
    border: 5px solid red;
}



a, .secondary{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.bold{
    font-weight: bold;
}

.header, .footer{
    background-color: #1F2937;
}

/* Header CSS */
.header{    
    padding: 8px 240px 120px;
}

.sup, .inf{
    display: flex;
}

.sup{
    justify-content: space-between;
    margin-bottom: 80px;
    align-items: center;
}

.sup p{
    margin: 0;
}

.inf{
    align-items: center;
    justify-content: space-between;
    gap: 64px;
}


ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 16px;
}

#left-inf{
    width: 40%;
    height: 270px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#right-inf{
    width: 60%;
    height: 270px;
    background-color: gray;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin: 0;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
}

.blue-button{
    padding: 4px 32px;
    background-color: #3882F6;
    color: white;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    font-size: 16px;
    align-items: center;
}


/* information Part CSS */
.information, .img-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 40px;
}

.information-header{
    font-size: 36px;
    font-weight: 800px;
    color: #1F2937;
}

.img-text img{
    border-radius: 12px;
}

img{
    height: 140px;
    width: 140px;
    border: 4px solid #3882F6;;
}

.imgs{
    display: flex;
    gap: 52px;

}

.img-text{
    width: 200px;
    color: gray;
}

/* Quote CSS */
.quote{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 24px;
    padding-bottom: 60px;
}

blockquote{
    width: 900px;
    font-size: 36px;
    font-style: italic;
    color: dimgray;
    margin-bottom: 0;
}

blockquote p{
    margin-bottom: 0;
}

.autor{
    width: 900px;
    display: flex;
    justify-content: end;
    font-size: 32px;
}

.autor p{
    margin-top: 0;
}

/* Announce CSS */

.announce{
    padding-top: 60px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.announcement{
    padding: 16px 32px;
    background-color: #3882F6;
    display: flex;
    gap: 28px;
    justify-items: center;
    align-items: center;
    border-radius: 8px;
    color: white;
}

.announces{
    display: flex;
    flex-direction: column;
}

div .blue-button{
    border: 2px solid white;
}

.announces h2{
    margin-bottom: 0;
}

/* Footer CSS */

.footer{
    background-color: white;
    text-align: center;
}