body{
    margin: 0;
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a, .secondary{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.bold{
    font-weight: bold;
}

.header, .footer{
    background-color: #1F2937;
}

/* Header CSS */
.header{    
    padding: 8px 240px 120px;
}

.sup, .inf{
    display: flex;
}

.sup{
    justify-content: space-between;
    margin-bottom: 100px;
    align-items: center;
}

.sup p{
    margin: 0;
}

.inf{
    align-items: center;
    justify-content: space-between;
    gap: 64px;
}


ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 16px;
}

img{
    height: 50px;
    width: 50px;
    border: 5px solid red;
}

#left-inf{
    width: 40%;
    height: 270px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#right-inf{
    width: 60%;
    height: 270px;
    background-color: gray;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin: 0;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
}

.blue-button{
    padding: 4px 32px;
    background-color: rgb(13,110,253);
    color: white;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    font-size: 16px;
    align-items: center;
}

/* Footer CSS */

.footer{
    text-align: center;
}